.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
}

.register {
    width: 100%;
    max-width: 335px;
    padding: 16px;
    border-radius: 30px;
    background: #1f1f1f;
}

.phone {
    width: 100%;
    max-width: 335px;
    padding: 20px 40px 0 40px;
    border-radius: 30px;
    background: #1f1f1f;
}

.logoIcon {
    fill: #f9f9f9;
    display: inline;
}

.logoSpan {
    display: none;
}

.title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
}

.spanTitle {
    color: rgba(227, 227, 227, 0.5);
}

/* FORM */

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 12px;
    color: #686868;
}

.inputWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: hsl(0, 0%, 15%);
    border-radius: 12px;
    padding: 0 14px;
    height: 44px;
}

.inputLabel {
    color: #686868;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 500;
}

.input {
    flex: 1;
    border: none;
    background: transparent;
    color: #f9f9f9;
    outline: none;
    font-size: 12px;
    height: 100%;
}

.input::placeholder {
    color: #f9f9f9;
}

/* BUTTON */

.buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
}

.button {
    padding: 12px 29px;
    margin-top: 12px;
    border-radius: 30px;
    border: none;
    background-color: #f9f9f9;
    color: #1f1f1f;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.phoneImg {
    max-width: 100%;
    height: auto;
}

/* LINK */

.link {
    margin-top: 12px;
    font-size: 12px;
    color: #686868;
    text-decoration: underline;
    white-space: nowrap;
}

/* MOBILE 375 */

@media (min-width: 375px) {
    .register {
        padding: 20px;
    }
}

/* TABLET */

@media (min-width: 768px) {

    .register {
        max-width: 704px;
        padding: 40px 64px;
    }

    .logoWrapper {
        display: flex;
        gap: 4px;
        align-items: center;
    }

    .logoSpan {
        display: inline;
        font-weight: 700;
        font-size: 18px;
        color: #f9f9f9;
    }

    .title {
        font-size: 64px;
        margin-top: 157px;
        margin-bottom: 40px;
        max-width: 444px;
        line-height: 0.9375;
    }

    .form {
        gap: 14px;
        max-width: 472px;
    }

    .inputLabel,
    .input {
        font-size: 14px;
    }

    .inputWrapper {
        height: 50px;
    }

    .button {
        padding: 16px 54px;
    }

    .phone {
        display: none;
    }

    .buttonWrapper {
        margin-top: 128px;
        margin-bottom: 164px;
    }
}

/* DESKTOP */

@media (min-width: 1440px) {

    .section {
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }

    .phone {
        display: block;
        max-width: 600px;
        padding: 88px 97px 0 97px;
    }

    .register {
        max-width: 600px;
        min-height: 736px;
    }

    .title {
        margin-top: 107px;
        line-height: 0.9375;
    }

    .buttonWrapper {
        margin-top: 118px;
        margin-bottom: 0;
    }
}