.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 40;
    transition: opacity 0.35s ease, visibility 0.35s ease;
}

.open {
    opacity: 1;
    visibility: visible;
}

.mobileMenuPanel {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: #262626;
    transform: translateX(100%);
    transition: transform 0.35s ease;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 40px; */
}

.openPanel {
    transform: translateX(0);
}

.closeBtn {
    position: absolute;
    top: 34px;
    right: 40px;
    cursor: pointer;
    padding: 0;

}

.closeIcon {
    color: #f9f9f9;
}


.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 280px;
}

.noActive {
    color: #686868;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    font-weight: 500;
    font-size: 14px;
}

.active {
    font-weight: 500;
    font-size: 14px;
    color: #f9f9f9;
    line-height: 1.28571;
    letter-spacing: -0.02em;
}
.logoutBtn {
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    line-height: 1.28571;
    letter-spacing: 0.02em;
    color: #f9f9f9;
    border: 1px solid rgba(249, 249, 249, 0.2);
    border-radius: 30px;
    padding: 10px 20px;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .overlay {
        display: none;
    }
}