.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 40;
    transition: opacity 0.35s ease, visibility 0.35s ease;
}

.open {
    opacity: 1;
    visibility: visible;
}

.mobileMenuPanel {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    /* можна 50-70% */
    height: 100%;
    background-color: #2a2a2a;
    transform: translateX(100%);
    transition: transform 0.35s ease;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.openPanel {
    transform: translateX(0);
}

.closeBtn {
    position: absolute;
    top: 34px;
    right: 40px;
    cursor: pointer;
    color: black
}

.closeIcon {
    color: #f9f9f9;
}


.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.active {
    font-weight: bold;
    color: #fff;
}

.logoutBtn {
    height: 38px;
    padding: 0 20px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    cursor: pointer;
}

@media (min-width: 768px) {
    .overlay {
        display: none;
    }
}