/* Повний екран overlay */
.mobile-menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* напівпрозорий фон */
    opacity: 0;
    visibility: hidden;
    z-index: 40;
    transition: opacity 0.35s ease, visibility 0.35s ease;
}

.mobile-menu-overlay.open {
    opacity: 1;
    visibility: visible;
}

/* Панель меню справа */
.mobile-menu-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #2a2a2a;
    /* темно-сірий фон */
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    transform: translateX(100%);
    transition: transform 0.35s ease;
}

.mobile-menu-panel.open {
    transform: translateX(0);
}

/* Кнопка закриття */
.close-btn {
    position: absolute;
    top: 34px;
    right: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Контент меню */
.menu-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Кнопка Log out */
.logout-btn {
    height: 38px !important;
    padding: 0 20px !important;
    margin-bottom: 20px;
}

/* Сховати на планшет/десктоп */
@media (min-width: 768px) {
    .mobile-menu-overlay {
        display: none;
    }
}