/* .register {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.register {
    width: 100%;
    max-width: 335px;
    padding: 20px;
    border-radius: 30px;
    background: #1f1f1f;

}

.logoIcon {
    fill: FFFFFF;
}

.title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
}

.span {
    color: rgba(227, 227, 227, 0.5);
}


.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 6px;

    color: #9f9f9f;
    font-size: 14px;
}

.input {
    width: 100%;

    height: 44px;
    padding: 0 14px;

    border-radius: 12px;
    border: none;

    background-color: #262626;
    color: #fff;

    outline: none;
}

.input::placeholder {
    color: #6b6b6b;
}

/* =========================
   BUTTON
========================= */

.button {
    margin-top: 10px;

    height: 44px;

    border-radius: 24px;
    border: none;

    background-color: #ffffff;
    color: #000;

    font-weight: 600;
    cursor: pointer;

    transition: 0.2s;
}

.button:hover {
    opacity: 0.9;
}

/* =========================
   LINK
========================= */

.link {
    display: block;
    margin-top: 16px;

    font-size: 14px;
    color: #9f9f9f;
    text-decoration: underline;
}


/* =========================
   MOBILE ADAPTIVE (375+)
========================= */

@media (min-width: 375px) {
    .card {
        padding: 36px 24px;
    }

    .title {
        font-size: 32px;
    }
}


/* =========================
   TABLET (768+)
========================= */

@media (min-width: 768px) {

    .wrapper {
        padding: 40px;
    }

    .card {
        max-width: 500px;
        padding: 48px;
        border-radius: 32px;
    }

    .title {
        font-size: 40px;
        margin-bottom: 32px;
    }

    .input {
        height: 48px;
    }

    .button {
        height: 48px;
    }
}


/* =========================
   DESKTOP (1440+)
========================= */

@media (min-width: 1440px) {

    .wrapper {
        padding: 80px;
    }

    .card {
        max-width: 600px;
    }

    .title {
        font-size: 48px;
    }
}