/* .register {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.register {
    width: 100%;
    max-width: 335px;
    padding: 20px;
    border-radius: 30px;
    background: #1f1f1f;

}

.logoIcon {
    fill: FFFFFF;
}

.title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
}

.span {
    color: rgba(227, 227, 227, 0.5);
}

/* =========================
   FORM
========================= */

/* Контейнер форми */
.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* label для форми */
.label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
    color: #686868;
}

/* обгортка для input + текст всередині */
.inputWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    /* відстань між Name/Email/Password і placeholder */
    background-color: #262626;
    border-radius: 12px;
    padding: 0 14px;
    height: 44px;
}

/* текст всередині input (Name/Email/Password) */
.inputLabel {
    color: #686868;
    white-space: nowrap;
    /* щоб не переносився */
    font-size: 14px;
}

/* сам input */
.input {
    flex: 1;
    /* займає решту місця */
    border: none;
    background: transparent;
    /* не перекриває фон wrapper */
    color: #f9f9f9;
    outline: none;
    font-size: 14px;
    height: 100%;
}

/* placeholder */
.input::placeholder {
    color: #f9f9f9;
    opacity: 1;
    /* щоб завжди був видно */
}

/* =========================
   BUTTON
========================= */
.buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: 12px 29px;
    margin-top: 12px;
    border-radius: 30px;
    border: none;
    background-color: #f9f9f9;
    color: #1f1f1f;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 700;
    font-size: 14px;
}

.button:hover {
    opacity: 0.9;
}

/* =========================
   LINK
========================= */

.link {
    display: block;
    margin-top: 12px;
    font-weight: 500;
    font-size: 12px;
    color: #686868;
    text-decoration: underline;
}


/* =========================
   MOBILE ADAPTIVE (375+)
========================= */

@media (min-width: 375px) {
    .card {
        padding: 36px 24px;
    }

    .title {
        font-size: 32px;
    }
}


/* =========================
   TABLET (768+)
========================= */

@media (min-width: 768px) {

    .wrapper {
        padding: 40px;
    }

    .card {
        max-width: 500px;
        padding: 48px;
        border-radius: 32px;
    }

    .title {
        font-size: 40px;
        margin-bottom: 32px;
    }

    .input {
        height: 48px;
    }

    .button {
        height: 48px;
    }
}


/* =========================
   DESKTOP (1440+)
========================= */

@media (min-width: 1440px) {

    .wrapper {
        padding: 80px;
    }

    .card {
        max-width: 600px;
    }

    .title {
        font-size: 48px;
    }
}