.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
}

.register {
    width: 100%;
    max-width: 335px;
    padding: 16px;
    border-radius: 30px;
    background: #1f1f1f;
}

.phone {
    width: 100%;
    max-width: 335px;
    padding: 20px 40px 0 40px;
    border-radius: 30px;
    background: #1f1f1f;
}


.logoIcon {
    fill: #f9f9f9;
    display: inline;
}

.logoSpan {
    display: none;
}

.title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
}

.spanTitle {
    color: rgba(227, 227, 227, 0.5);
}

/* =========================
   FORM
========================= */

/* Контейнер форми */
.form {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

/* label для форми */
.label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 12px;
    color: #686868;
}

/* обгортка для input + текст всередині */
.inputWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    /* відстань між Name/Email/Password і placeholder */
    background-color: hsl(0, 0%, 15%);
    border-radius: 12px;
    padding: 0 14px;
    height: 44px;
}

/* текст всередині input (Name/Email/Password) */
.inputLabel {
    color: #686868;
    white-space: nowrap;
    /* щоб не переносився */
    font-size: 12px;
    font-weight: 500;
}

/* сам input */
.input {
    flex: 1;
    /* займає решту місця */
    border: none;
    background: transparent;
    /* не перекриває фон wrapper */
    color: #f9f9f9;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    height: 100%;
}

/* placeholder */
.input::placeholder {
    color: #f9f9f9;
    opacity: 1;
    /* щоб завжди був видно */
}

/* =========================
   BUTTON
========================= */
.buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;


}

.button {
    padding: 12px 29px;
    margin-top: 12px;
    border-radius: 30px;
    border: none;
    background-color: #f9f9f9;
    color: #1f1f1f;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 700;
    font-size: 14px;
}

.button:hover {
    opacity: 0.9;
}

.phoneImg {
    max-width: 100%;
    height: auto;
}

/* =========================
   LINK
========================= */

.link {
    display: block;
    margin-top: 12px;
    font-weight: 500;
    font-size: 12px;
    color: #686868;
    text-decoration: underline;
    white-space: nowrap;
}


/* =========================
   MOBILE ADAPTIVE (375+)
========================= */

@media (min-width: 375px) {
    .register {
        padding: 20px;
    }
}


/* =========================
   TABLET (768+)
========================= */

@media (min-width: 768px) {
    .register {
        width: 100%;
        max-width: 704px;
        padding: 40px 64px;
        border-radius: 30px;
        background: #1f1f1f;
    }

    .logoWrapper {
        display: flex;
        gap: 4px;
        align-items: center;
    }


    .logoSpan {
        display: inline;
        font-weight: 700;
        font-size: 18px;
        color: #f9f9f9;
    }

    .title {
        font-size: 64px;
        font-weight: 700;
        line-height: 0.9375;
        color: #f9f9f9;
        margin-top: 157px;
        margin-bottom: 40px;
        max-width: 444px;
    }

    .form {
        gap: 14px;
        max-width: 472px;

    }

    .inputLabel {
        font-size: 14px;
    }

    .input {
        font-size: 14px;
    }

    .inputWrapper {
        gap: 14px;
        height: 50px;
    }

    .button {
        padding: 16px 54px;
    }

    .phone {
        display: none;
    }

    .buttonWrapper {
        margin-top: 64px;
        margin-bottom: 164px;
    }
}




/* =========================
   DESKTOP (1440+)
========================= */

@media (min-width: 1440px) {
    .section {
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }

    .phone {
        width: 100%;
        display: block;
        max-width: 600px;
        padding: 88px 97px 0 97px;

    }

    .register {
        width: 100%;
        max-width: 600px;
    }

    .buttonWrapper {
        margin-top: 54px;
        margin-bottom: 0;
    }

    .title {
        margin-top: 107px;
        line-height: 0.9375;
    }
}