.quote {
    display: none;
}

@media (min-width: 1440px) {
    .quote {
        display: flex;
        border-radius: 12px;
        background: #262626;
        padding: 15px 20px 14px 20px;
        gap: 14px;
        align-items: center;
    }

    .quoteText {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.02em;
        color: #686868;
    }

    .quoteSpan {
        color: #f9f9f9;
    }

    .quoteImg {
        width: 40px;
        height: 40px;
    }
}