.wrapper {
    background: #1f1f1f;
    border-radius: 24px;
    padding: 24px;
}

.list {
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px;
}