.recommendedBooks {
    display: flex;
    background: #1f1f1f;
    border-radius: 24px;
    padding: 24px;
}

.list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
}



@media (min-width: 1440px) {
    .recommendedBooks {
        flex-direction: column;
        padding: 40px 40px 28px 40px;
        width: 847px;
    }
}