.card {
    cursor: pointer;
    max-width: 137px;
}

.image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
    height: 208px;
    object-fit: cover
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #f9f9f9;
    margin-bottom: 2px;
    white-space: nowrap;
    /* Забороняє перенос рядка */
    overflow: hidden;
    /* Ховає зайвий текст */
    text-overflow: ellipsis;
}

.author {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #686868;
}