.description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #262626;
    border-radius: 12px;
    padding: 20px;
    max-width: 313px;
}

.description>*:last-child {
    margin-top: -6px;
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #f9f9f9;
}

.textWrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;

}

.stepNumber {
    padding: 11px 16px;
    border-radius: 100%;
    background-color: #f9f9f9;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.02em;
    color: #1f1f1f;
    border: 1px solid #e0e0e0;
}

.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #f9f9f9;

}

.highlight {
    color: #686868;
}

.linkWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #686868;
}

@media (min-width: 768px) {
    .title {
        font-size: 20px;
        line-height: 1;
        letter-spacing: -0.02em;
        color: #f9f9f9;
        margin-bottom: 20px;
    }

    .stepNumber {
        height: 44px;
        width: 44px;
        font-size: 20px;
        padding: 13px 18px;
    }

    .description>*:last-child {
        margin-top: 0px;
    }

    .textWrapper {
        max-width: 253px;
    }
}

@media (min-width: 1440px) {
    .description {
        border-radius: 30px;
    }
}