.logo-icon {
    fill: #ffffff;
    /* light-white */
    width: 42px;
    height: 17px;
}

.logo-text {
    display: none;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    /* bold */
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.36px;
}