/* .bgCircle {
    stroke: var(--dark-secondary);
    fill: none;
}

.activeCircle {
    stroke: var(--accent-secondary);
    fill: none;
} */


.bgCircle {
    fill: none;
    /* щоб не заливало всередину */
    stroke: #333;
    /* колір фону кола */
}

.activeCircle {
    fill: none;
    stroke: #4ade80;
    /* зелена дуга */
    transition: stroke-dashoffset 0.5s ease;
}