.preview {
    background: #262626;
    border-radius: 12px;
    padding: 20px;

}

.preview h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #e3e3e3;
    margin-bottom: 14px;
}

.list {
    display: flex;
    gap: 20px;
    margin-bottom: 11px;
}

.card {
    width: 71px;
    height: 141px;
}

.card img {
    width: 100%;
    height: 107px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

.card p {
    font-size: 10px;
    font-weight: 700;
    color: #e3e3e3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-bottom: 2px;
}

.card span {
    font-weight: 500;
    font-size: 10px;
    color: #686868;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: #aaa;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #686868;
}

.footer a:hover {
    color: #fff;
}