.wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #f9f9f9;
    margin-bottom: 8px;
    margin-left: 14px;

}

/* FORM */

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 12px;
    color: #686868;
}

.inputWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: hsl(0, 0%, 15%);
    border-radius: 12px;
    padding: 0 14px;
    height: 44px;
}

.inputLabel {
    color: #686868;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 500;
}

.input {
    flex: 1;
    border: none;
    background: transparent;
    color: #f9f9f9;
    outline: none;
    font-size: 12px;
    height: 100%;
}

.input::placeholder {
    color: #f9f9f9;
}

.button {
    padding: 10px 20px;
    margin-top: 12px;
    border-radius: 30px;
    border: 1px solid rgba(249, 249, 249, 0.2);
    background-color: transparent;
    color: #f9f9f9;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}