.wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    background: #2a2a2a;
    border: none;
    color: white;
}

.input::placeholder {
    color: #aaa;
}

.btn {
    margin-top: 10px;
    padding: 12px;
    border-radius: 999px;
    border: 1px solid #555;
    background: transparent;
    color: white;
    cursor: pointer;
}