/* body {
    font-family: var(--font-inter), sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f3f9ed;
    color: #000;
} */

/* .pageMain {
    flex: 1;
} */

:root {
    --font-family: "Gilroy", sans-serif;
    --second-family: "SF Pro Text", sans-serif;
    --background-color: #141414;
    --color-text: #f9f9f9;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    color: var(--color-text);
}

img,
svg {
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-family), sans-serif;
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* .container {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 10px;
}

@media (min-width: 375px) {
    .container {
        max-width: 375px;
        padding: 0 20px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 64px;
    }
} */

.recommended-layout {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 24px;
    padding: 24px;
}