:root {
    --font-family: "Gilroy", sans-serif;
    --second-family: "SF Pro Text", sans-serif;
    --background-color: #141414;
    --color-text: #f9f9f9;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    margin: 0;
}

img,
svg {
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-family), sans-serif;
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}