.title {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 14px;
}

.noProgressWrapper {
    padding-bottom: 20px;
}

.text {
    font-size: 14px;
    line-height: 1.29;
    color: var(--light-secondary);
    margin-bottom: 20px;
}

.imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--dark-tertiary);
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 20px;
    }

    .noProgressWrapper {
        padding-bottom: 44px;
    }

    .text {
        margin-bottom: 50px;
    }

    .imgWrapper {
        width: 100px;
        height: 100px;
    }

    .img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .text {
        margin-bottom: 60px;
    }

    .noProgressWrapper {
        padding-bottom: 183px;
    }
}